html{
  font-size: 16px;
}
body {
  /* always set a minimum width so ios will not cut out stuff */
  min-width: 950px;
  background-color: rgb(223, 228, 252);
  margin: 0.1rem 0 0 0;
  display: flex;
  justify-content: center;
}

.toolTip{
  position: absolute;
  max-width: 250px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  background-color: rgb(232, 236, 255);
  border-radius: 6px;
  padding: 6px 11px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.493);
}

.chartBkg{
  fill: rgb(189, 238, 255);
}

.chartTitle{
  fill: #222;
  stroke: rgb(243, 243, 243);
  stroke-width: 1.1;
  font-weight: bold;
  font-size: 35px;
  font-family: Arial, sans-serif;
}

.boldColor{
  font-weight: bold;
  color: rgb(133, 0, 77);
}